.eggs/
/sgloader/__pycache__/
/dataset/
*.pyc
/.coverage
/.coverage.*
/scratch/swhgitloader.cProfile
/scratch/swhgitloader.profile
/scratch/save.p
*.egg-info
version.txt
/resources/repo-linux-to-load.ini
/resources/repo-to-load.ini
build/
dist/
.hypothesis
.pytest_cache
.tox/
.mypy_cache/
