include Makefile
include requirements*.txt
include version.txt
include README.md
include conftest.py
recursive-include swh/loader/package/tests/ *.tar.gz
recursive-include swh py.typed
recursive-include swh/loader/package/tests/data/ *
recursive-include swh/loader/package/*/tests/data/ *
