Source: swh-loader-git
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               git,
               python3-all,
               python3-click,
               python3-dulwich (>= 0.18.7~),
               python3-pytest,
               python3-pytest-mock,
               python3-pytest-postgresql,
               python3-requests-mock,
               python3-retrying,
               python3-setuptools,
               python3-setuptools-scm,
               python3-swh.core (>= 0.1.0~),
               python3-swh.core.db.pytestplugin,
               python3-swh.loader.core (>= 0.16~),
               python3-swh.model (>= 0.4.0~),
               python3-swh.scheduler (>= 0.3.0~),
               python3-swh.storage (>= 0.22~)
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DLDG/

Package: python3-swh.loader.git
Architecture: all
Depends: python3-swh.core (>= 0.1.0~),
         python3-swh.loader.core (>= 0.16~),
         python3-swh.model (>= 0.4.0~),
         python3-swh.scheduler (>= 0.3.0~),
         python3-swh.storage (>= 0.22~),
         ${misc:Depends},
         ${python3:Depends}
Description: Software Heritage Git loader
